body {
    background: url(assets/funnyBG.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* ------------------------------------------------------------- */
h4, label, h2{
    color: rgb(28, 82, 140);
    text-shadow: 1px 1px white;
}

#header {
    padding-top: 20px;
    padding-bottom: 10px;
}


#profileDetails {
    color: #6f56ad;
    text-shadow: 1px 1px white;
}

h2 {
    text-align: center;
}

h4 {
    margin-top: 20px;
    text-align: center;
}

table {
    text-align: center;
}

/* -------------------------------------------------------------- */
#maintableCard {
    border: solid 3px rgba(0, 0, 0, 0.512);
    border-radius: 10px;

    margin: 20px;
    margin-top: 15px;

    width: 100%;
}

#profileCols {
    width: 300px;
}

#bodyCard {
    display: flex;
    justify-content: center;
}

#formCard {
    background-color: transparent;

    padding-left: 20px;
    padding-right: 20px;
    width: fit-content;
}

/* -------------------------------------------------------------- */
.form-control, .form-select, .form-group {
    border: none;
    background-color: rgba(255, 255, 255, 0.149);

    width: fit-content;
    width: 100%;
}

.form-control::placeholder, .form-select, .form-check-label {
    color: black    
}

.fieldLables {
    margin-top: 10px;
}

select {
    text-align: center;
}

#mainresultCard {
    padding: 20px;

    height: fit-content;
}


.buttonsRow{
    display: flex;
    justify-content: center;
}

/* -------------------------------------------------------------- */
.schedule-available {
    background-color: #d1e7dd;
    color: #0f9456;
}

.schedule-occupied {
    background-color: #f8d7da;
    color: #a61a25;
}

form {
    margin-left: 15px;
}